<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Login</title>
		<link rel="stylesheet" href="css/StyleSheet.css">
	</head>
	<body>
<div id="loginDiv">

<form action="#" th:action="@{/login}" method="post" th:object="${user}">
  <img alt="" src="../image/logo.png">
  <div class="container">
  <h2 id="texcolr"><label>Login</label></h2>
    <hr>
    <label id="texcolr" for="eMail"><b>User Email</b></label>
    <input type="text" placeholder="Enter Username" th:field="*{eMail}" required>

    <label id="texcolr" for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" th:field="*{uPassword}" required>
        
    
    <label for="checkbox" id="texcolr" class="chekbox">
      <input  type="checkbox" checked="checked" name="remember"> Remember me
    </label><br>
    <button id="logbutton" type="submit">Login</button>
  </div>

  <div class="container">
    <a href=""  class="Forgotbtn">Forgot password?</a><br>
    <a href="/signup"  class="Forgotbtn">Not registered?</a>
    <!-- <span class="psw"> </span> -->
  </div>
</form>
</div>
	</body>
</html>